<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Octokit" version="0.48.0" targetFramework="xamarinmac20" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="xamarinmac20" />
  <package id="Xamarin.Essentials" version="1.5.3.2" targetFramework="xamarinmac20" />
  <package id="Xamarin.Forms" version="4.8.0.1269" targetFramework="xamarinmac20" />
  <package id="Xamarin.Forms.PancakeView" version="2.1.0.714" targetFramework="xamarinmac20" />
</packages>